
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
	<div>
		@Html.Label("帳號：")
		<input type="text" name="lm_username">
		<br />
		@Html.Label("密碼：")
		<input type="text" name="lm_password">
	</div>
	<div>
		使用者輸入的帳號為：@ViewBag.username<br />
		使用者輸入的密碼為：@ViewBag.password<br />
		訊息：@ViewBag.message<br />
		儲存的密碼：@ViewBag.savedHPW<br />
		Hash後的輸入密碼：@ViewBag.inputHPW
	</div>
	<input type="submit" value="登入" />
}

